.cardWrapper {
    composes: cardWrapper from '../../../App.module.css';
}

.bottomParagraph {
    composes: bottomParagraph from '../StepPhoneEmail/StepPhoneEmail.module.css';
}

.actionButtonWrap {
    composes: actionButtonWrap from '../StepPhoneEmail/StepPhoneEmail.module.css';
}
