.client {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userHead {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid #5453e0;
    position: relative;
}

.userHead + h4 {
    font-weight: bold;
    margin-top: 1rem;
}

.userAvatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.goBack {
    display: flex;
    align-items: center;
    background: none;
    outline: none;
    margin-top: 2rem;
}

.goBack span {
    margin-left: 1rem;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    position: relative;
}

.goBack span::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 60%;
    height: 4px;
    background: #0077ff;
    border-radius: 10px;
}

.clientsWrap {
    background: #1d1d1d;
    margin-top: 4rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    min-height: calc(100vh - 205px);
    padding: 2rem;
}

.topic {
    font-size: 18px;
    font-weight: bold;
}

.clientsList {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.actionBtn {
    background: #262626;
    outline: none;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    padding: 0.7rem 1rem;
    border-radius: 20px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.actionBtn:hover {
    background: #333333;
}

.actionBtn span {
    font-weight: bold;
    margin-left: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    display: flex;
    align-items: center;
}

.micBtn {
    background: #212121;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    box-sizing: content-box;
    border-radius: 30px;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.micImg {
}
