.navbar {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoutButton {
    background: none;
    cursor: pointer;
}

.navRight {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #0077ff;
    margin: 0 20px;
    margin-right: 10px;
}
